[submodule "Libc"]
	path = subprojects/mlibc
	url = ../mlibc
[submodule "Limine"]
	path = Limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v3.0-branch-binary
[submodule "ObjFW"]
	path = ObjFW
	url = ../ObjFW
[submodule "Kernel/dev/acpi/lai"]
	path = Kernel/dev/acpi/lai
	url = ../lai
